<!--<div>{{users[0]|json}}</div>-->
<!--<div *ngIf="users$|async as users">-->
<!--  <div *ngFor="let user of users">-->
<!--    {{user|json}}-->
<!--  </div>-->
<!--</div>-->
<!--<div>{{title|uppercase}}</div>-->
<!--<div>{{title|lowercase}}</div>-->
<!--<div>{{num|percent}}</div>-->
<!--<div>{{data|date:'full'}}</div>-->
<!--<hr>-->
<!--<div>{{title|slice:0: 3}}</div>-->
<!--<div>{{title|adder:'!!!':'???'}}</div>-->

<!--directive-->
<!--<app-root></app-root>-->
<!--<router-outlet></router-outlet>-->
<!--<ng-content></ng-content>-->
<!--<ng-content></ng-content>-->

<!--<div *ngFor="" *ngIf=""></div>-->
<!--<div *ngFor="let user of users">-->
<!--<div [ngSwitch]="user.id">-->
<!--  <p *ngSwitchCase="1">{{user.id}} &#45;&#45; {{user.name}}</p>-->
<!--  <p *ngSwitchCase="5">{{user.id}} &#45;&#45; {{user.name}}</p>-->
<!--</div>-->

<!--</div>-->
<!--<div *ngFor="let user of users" [ngStyle]="{color:user.id>5?'red':'green'}">-->
<!--<div *ngFor="let user of users" [ngClass]="{target:user.id>5}">-->
